{% extends 'base.html' %}
{% load bootstrap %}


{% block title %} OLIST BILLER {% endblock %}

{% block main %}



    <div class="container" align="center">
        <span class="fa fa-5x fa-eye"></span>
        <h1>Olist Biller</h1>
    <div class="row" align="center">
        <div class="col-md">

            <form method="post">
            {% csrf_token %}
            <p>Username: {{ form.username }} </p>
            <p>Password: {{ form.password }} </p>
            <p align="center"><button type="submit" class="btn btn-info">Login</button></p>
            </form>

        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container" align="right">
        <span class="text-muted">Olist Biller - 1.0 </span>
        <a href="/logout">- logout</a>


      </div>
    </footer>
{% endblock %}