{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <div class="container">
    <div class="row" style="margin-top: 50px">
    <div class="col" align="center" >
            <span class="fa fa-5x fa-clipboard"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 align="center"> Phone Biller</h1>
        </div>
    </div>
    <hr />

    <div class="row">

        <div class="col">

            <p class="text-left font-italic">
            <a href="/rest" class="list-group-item list-group-item-action">REST API</a>
        </p>
       </div>
        <div class="col">
        <p class="text-right font-italic">
            <a href="/logout" class="list-group-item list-group-item-action">logout</a>
        </p>
        </div>

   </div>
    <hr />


        <div class="row" align="left">

            <form action="/biller/" method="POST">
            {% csrf_token %}

            <div class="col">
                 <p align="left">{{ form.subscriber | bootstrap }}</p>
                 <p align="left">{{ form.month | bootstrap }}</p>
                 <p align="left">{{ form.year | bootstrap }}</p>



                 <input align="right" type="submit" value="Search" class="btn btn-outline-secondary"></input>
                </form>
        </div>
            </div>

        </div>

</div>





{% endblock %}
